<div>
  <h1>Index</h1>
  <br/>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Assignment # Active Record Association</h5>
          <p class="card-text">User Model (has_one, has_many, has_many :through)</p>
          <%= link_to "Go to Task", users_path, class: "btn btn-primary"%>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Assignment # Active Record Association</h5>
          <p class="card-text">Post Model (belongs_to, has_and_belongs_to_many, has_many)</p>
          <%= link_to "Go to Task", posts_path, class: "btn btn-primary"%>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Assignment # Single Table Inheritance </h5>
          <p class="card-text">Vehicle Model (Single Table Inheritance (STI))</p>
          <%= link_to "Go to Task", vehicles_path, class: "btn btn-primary"%>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Assignment # Delegated Types </h5>
          <p class="card-text">Entry Model (Delegated Types)</p>
          <%= link_to "Go to Task", entries_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
